@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100%;
    min-height: 100%;
}

* {
    scroll-behavior: smooth;
}

.custom__underline_dark, .custom__underline_light{
    position:relative;
    width: fit-content;
}
.custom__underline_dark::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -5px;
    width: 45%;
    height: 3px;
    background: #A31D26;
}
.custom__underline_light::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -5px;
    width: 45%;
    height: 2px;
    background: #A31D26;
}

.scrollNav{
 background-color: #FAFAFA;
 color: #A31D26;
 border-bottom: 2px solid #A31D26;
}

.carousel-cell{
    width: 100%;
}

#executive_carousel .c_container{
    @apply container p-0 flex md:flex-row flex-col justify-around items-center;
}

#executive_carousel .c_container > div:has(img){
    @apply h-3/5 md:h-full rounded-full bg-gray-200 aspect-square flex items-center justify-center overflow-clip;
}
#executive_carousel .executive_img{
    @apply scale-75 md:h-full;
}

#executive_carousel .executive_details{
    @apply  text-right space-y-2;
}
#executive_carousel .executive_details h3{
    @apply font-heading text-4xl text-gray-950 whitespace-nowrap truncate;
}
#executive_carousel .executive_details h2{
    @apply font-heading text-2xl font-medium text-gray-800;
}

  @-webkit-keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-moz-keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-o-keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }