@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-body w-full min-h-full h-full;
}

* {
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6{
  @apply font-heading;
}

.custom__underline_dark, .custom__underline_light{
    position:relative;
    width: fit-content;
}
.custom__underline_dark::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -5px;
    width: 45%;
    height: 3px;
    background: #A31D26;
}
.custom__underline_light::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -5px;
    width: 45%;
    height: 2px;
    background: #A31D26;
}

.scrollNav{
 background-color: #FAFAFA;
 color: #A31D26 !important;
 border-bottom: 2px solid #A31D26;
}
.scrollNav #logo_title{
  @apply text-[#090909]
}

.carousel-cell{
    width: 100%;
}

#executive_carousel .c_container{
    @apply container p-0 flex md:flex-row flex-col justify-around items-center;
}

#executive_carousel .c_container > div:has(img){
    @apply h-3/5 md:h-full rounded-full bg-gray-200 aspect-square flex items-center justify-center overflow-clip;
}
#executive_carousel .executive_img{
    @apply scale-75 md:h-full;
}

#executive_carousel .executive_details{
    @apply  text-right space-y-2;
}
#executive_carousel .executive_details h3{
    @apply font-heading text-4xl text-gray-950 whitespace-nowrap truncate;
}
#executive_carousel .executive_details h2{
    @apply font-heading text-2xl font-medium text-gray-800;
}

  @-webkit-keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-moz-keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-o-keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }